body {
  margin: 0;
  font-family: Arial;
  background: #eee;
}

#top {
  position: sticky;
  top: 0;
  background: #222;
  padding: 10px;
}

#top * {
  margin: 4px;
}

#list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  gap: 12px;
  padding: 12px;
}

.card {
  background: white;
  padding: 8px;
}

.card img {
  width: 100%;
}

.card button,
.card input {
  width: 100%;
  margin-top: 4px;
}
